<div class="navbar-blue">
  <%= link_to "https://www.github.com/coughinbach", class: "btn nav-btn" do %>
    <i class="fab fa-github"></i>
  <% end %>
  <%= link_to cocktails_path, class: 'btn nav-btn' do %>
    <i class="fa fa-history"></i>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="form-container">
        <%= render "cocktail-form" %>
      </div>
    </div>
  </div>
</div>




