.form-container {
  background-color: white;
  border-bottom: 5px solid $orange;
  border-radius: 3px;
  padding: 30px;
  margin-top: 50px;
}

.btn-form {
  background-color: $blue;
  color: $white;
}
