.show-container {
  background-color: white;
  border-bottom: 5px solid $orange;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  margin-top: 50px;
}

.show-image {
  border-radius: 50%;
  border: 3px solid $blue;
  text-align: center;
}

.show-name {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
}

.show-ingredients {
  width: 40%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  p {
    color: $gray;
    line-height: 20px;
  }
  i {
    color: $blue;
  }
  li {
    color: $orange;
  }
}

.add-ingredient {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  label {
    color: $orange;
    font-weight: normal;
  }
  abbr {
    color: $gray;
    text-decoration: none;
  }
}

h1 {
  color: $orange;
}



.user-actions {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 35px;
}
